<div class="container">
  <div class="row">
    <div class="col-4">


      <div class="card">
        <%= image_tag @task.url, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= @task.name %></h5>
        </div>
      </div>
    </div>

    <div class="col-4">
      <table class="table">
        <thead>
          <tr>
            <th>Top 5 en terminar actividad</th>
          </tr>
        </thead>
        <tbody>
          <% @five_first.each do |user| %>
          <tr class="row">
            <td><%= User.find(user).photo ? image_tag(User.find(user).photo, :class => "img-fluid") : image_tag("https://image.flaticon.com/icons/png/512/97/97895.png", :class => "img-fluid")%></td>
            <th>Email</th>
            <td><%= User.find(user).email %>
            <th>Nombre</th>
            <td><%= User.find(user).name %>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Esta tarea fue completada por</th>
            </tr>
          </thead>
          <tbody>
            <%  @users_task_completed.each do |task_com| %>
            <tr>
              <th>Email</th>
              <td><%=  task_com.user.email %></td>
              <th>Nombre</th>
              <td><%=  task_com.user.name %></td>
            </tr>
            <%  end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
